
@{
    ViewBag.Title = "OrderSuccess";
}

<div style="display: flex; justify-content: center; align-items: center;padding: 200px;" class="companyinfo">
    <h3>Your Order has been placed successfully. Please click @Html.ActionLink("here", "Index", "Product") go to Product page!</h3>
</div>

   
